Source: gitkv
Section: misc
Priority: optional
Maintainer: Edouard Klein <edouardklein@gmailnospam.com>
Build-Depends: debhelper (>= 9),
 dh-python,
 python3-all,
 python3-setuptools
Standards-Version: 1.1.1
X-Python-Version: >= 3.0	
homepage: https://edouardklein.github.io/gitkv



Package: python3-gitkv
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, git
Description: use a git repo as a key-value store
